@import url('https://fonts.googleapis.com/css?family=Play:400,700|Righteous'); :root {
    font-family: 'Play', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 50px;
}

header {
    background-image: url(../img/star-labs.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(252, 252, 252);
}

header .logo p:last-child {
    font-size: 24px;
    text-transform: uppercase;
}

header nav ul li a:any-link {
    color: rgb(255, 255, 255);
}

header nav .menu {
    display: flex;
}

header nav .menu {
    padding: 0;
    justify-content: space-around;
}

header nav .menu li {
    list-style-type: none;
}

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
}

header nav .menu a:hover {
    text-decoration: underline;
}

main p img {
    float: right;
}

.main-text {
    font-size: 25px;
    font-family: 'Laila', serif;
}

@media (max-width: 680px) {
    .logo {
        display: flex;
        justify-content: center
    }

    ul {
        margin: 0;
    }

    header nav {
        display: flex;
    }

    header nav .menu {
        flex-wrap: wrap;
    }

    header nav ul li {
        margin: 10px;
    }

    header nav ul li a:any-link {
        text-decoration: none;
    }

    header nav .menu a:hover {
        text-decoration: none;
    }

    main h1 {
        font-size: 40px;
    }
}

@media (max-width: 680px) {
    .main-text {
        font-size: 20px;
    }
}

@media (max-width: 519px) {
    .main-text {
        display: flex;
        flex-direction: column;
    }
}
